body{
  padding: 0;
  margin: 0;
  background-image: url('../src/assets/logoGigantes1.png'); /* Substitua pelo caminho da sua imagem */
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Isso garante que a imagem de fundo permaneça fixa enquanto a página é rolada */
  background-color: rgba(9, 23, 29, 0); /* Cor de fundo com opacidade */
  background-position: center;
}

.Login2{
  text-align: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
}

/*
  Oculta por padrão os ícones de editar e excluir dos datagrids,
  para não causar distrações
*/
.MuiDataGrid-row button {
  visibility: hidden;
}

/*
  Quando o mouse passar sobre uma linha de um datagrid, os botões
  de editar e excluir dessa linha ficam visíveis
*/
.MuiDataGrid-row:hover button {
  visibility: visible;
}
